.vriendworden{
    width: 200px;
    height: 35px;
    left: 25px;
    top: 10px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: #ca962b;
    color: white;
    position: absolute;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}
.welkom_text{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}
.event_text{
    font-size: 20px;
    margin-top: 25px;
    margin-left: 25px;
}
.basis{
    width: 850px;
    max-height: 520px;
    margin-left: 25px;
    border: 1px #ca962b solid;
    margin-top: 5px;
    float: left;
    overflow: auto;
    overflow-x: hidden;
}
.zoeken {
    float: left;
    width: 200px;
    padding: 5px;
    margin: 10px 0 0 5px;
}
.zoeken:focus {
    border: 2px solid #ca962b;
}
.event{
    width: 545px;
    height: 100px;
    border: #ca962b 1px solid;
    margin: 10px auto auto 210px;
    background: #9b1d21; /* Old browsers */
    background: -moz-linear-gradient(top, #9b1d21 0%, #ef3e3a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #9b1d21 0%,#ef3e3a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #9b1d21 0%,#ef3e3a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b1d21', endColorstr='#ef3e3a',GradientType=0 ); /* IE6-9 */
}
.datum {
    position: relative;
    top: 5px;
    left: 5px;
}
.naam_artiest {
    position: relative;
    top: 5px;
    left: 5px;
}
.naam_show{
    position: relative;
    top: 33px;
    left: 5px;
}
.genre {
    position: relative;
    top: -40px;
    left: 250px;
}
.reseveren {
    background-color: #ca962b;
    border: none;
    border-radius: 20px;
    padding: 3px;
    width: 100px;
    color: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.50);
    position: relative;
    left: 248px;
}
.reseveren:active{
    box-shadow: none;
}
.reseveren:hover {
    cursor: pointer;
}
.plaatsen {
    position: relative;
    top: -45px;
    left: 250px;
}
.seizoen{
    font-weight: bold;
}
