.vriendworden{
    width: 200px;
    height: 35px;
    left: 25px;
    top: 10px;
    border-radius: 10px;
    background-color: #ca962b;
    color: white;
    position: absolute;
    text-align: center;
    line-height: 35px;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.50);
}
.vriendworden:active {
    box-shadow: none;
}
.welkom_text{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}
.event_text{
    font-size: 20px;
    margin-top: 25px;
    margin-left: 25px;
}
.basis{
    width: 850px;
    height: 520px;
    margin-left: 25px;
    border: 1px #ca962b solid;
    margin-top: 5px;
    float: left;
}
.vrienden{
    font-weight: bold;
}
.vriend1{
    border-bottom: 1px #ca962b solid;
    width: 820px;
    height: 180px;
    position: absolute;
    top: 100px;
    left: 40px;
    right: 10px;
}
.vriend2{
    border-top: 1px #ca962b solid;
    border-bottom: 1px #ca962b solid;
    width: 820px;
    height: 100px;
    position: absolute;
    top: 280px;
    left: 40px;
    right: 10px;
}
.vriend3{
    border-top: 1px #ca962b solid;
    border-bottom: 2px #ca962b solid;
    width: 820px;
    height: 100px;
    position: absolute;
    top: 380px;
    left: 40px;
    right: 10px;
}
.vriend4{
    width: 380px;
    height: 25px;
    padding-top: 4px;
    padding-left: 60px;
    position: absolute;
    top: 500px;
    left: 300px;
    right: 10px;
    color: white;
}
.vriend5{
    width: 380px;
    height: 25px;
    padding-top: 4px;
    padding-left: 60px;
    position: absolute;
    top: 542px;
    left: 300px;
    right: 10px;
    color: white;
}
.foto1{
    width: 150px;
    height: 150px;
    background-color: white;
    text-align: center;
    color: #ca962b;
    padding-top: 45px;
    border: 1px solid black;
}
.foto2{
    width: 75px;
    height: 75px;
    background-color: white;
    text-align: center;
    margin-top: 10px;
    color: #ca962b;
    padding-top: 22px;
    border: 1px solid black;
}
.vriendvan1{
    font-size: 25px;
}
.vriendvan2{
    font-size: 15px;
}
.txt1{
    width: 640px;
    height: 150px;
    top: 0;
    left: 175px;
    position: absolute;
    color: white;
}
.info1{
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
}
.omschrijf1{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 20px;
}
.txt2{
    width: 640px;
    height: 100px;
    top: 5px;
    left: 175px;
    position: absolute;
    color: white;
}
.info2{
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
}
.txt3{
    width: 640px;
    height: 100px;
    top: 5px;
    left: 175px;
    position: absolute;
    color: white;
}
.info3{
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
}



